force-app/main/default/flows/AllocateCreditAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>ApprovalDefaultChoice</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>DefaultPrimaryCreditTypeChoice</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!objAcct.Primary_Credit_Type__c}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objAcct.Primary_Credit_Type__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>DefaultSecondaryCreditTypeChoice</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!objAcct.Secondary_Credit_Type__c}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>objAcct.Secondary_Credit_Type__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>TotalsMatch</name>
        <label>TotalsMatch</label>
        <locationX>388</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Totals MisMatch</defaultConnectorLabel>
        <rules>
            <name>Totals_Match</name>
            <conditionLogic>(1 OR 4) AND (2 OR 5) AND (3 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Total_Credit_Limit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PrimaryCreditSum</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Total_Credit_Limit_S</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SecondaryCreditSum</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Total_Insurance_Amount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InsuranceSum</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Total_Credit_Limit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Total_Credit_Limit_S</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Total_Insurance_Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAcct</targetReference>
            </connector>
            <label>Totals Match</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>plCreditType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Credit_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>InsuranceSum</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!HOU_Insurance_Amount},0)+
BLANKVALUE({!LIVE_Insurance_Amount},0)+
BLANKVALUE({!MPLS_Insurance_Amount},0)+
BLANKVALUE({!STL_Insurance_Amount},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PrimaryCreditSum</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!HOU_Credit_Limit},0)+
BLANKVALUE({!LIVE_Credit_Limit},0)+
BLANKVALUE({!MPLS_Credit_Limit},0)+
BLANKVALUE({!STL_Credit_Limit},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SecondaryCreditSum</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!HOU_Credit_Limit_S},0)+
BLANKVALUE({!LIVE_Credit_Limit_S},0)+
BLANKVALUE({!MPLS_Credit_Limit_S},0)+
BLANKVALUE({!STL_Credit_Limit_S},0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Allocate Credit Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Allocate Credit Account</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>159</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Credit_Account_Fields</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcctID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objAcct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Credit_Type__c</queriedFields>
        <queriedFields>Total_Primary_Credit_Limit__c</queriedFields>
        <queriedFields>HOU_Primary_Credit_Limit__c</queriedFields>
        <queriedFields>LIVE_Primary_Credit_Limit__c</queriedFields>
        <queriedFields>MPLS_Primary_Credit_Limit__c</queriedFields>
        <queriedFields>STL_Primary_Credit_Limit__c</queriedFields>
        <queriedFields>Secondary_Credit_Type__c</queriedFields>
        <queriedFields>Total_Secondary_Credit_Limit__c</queriedFields>
        <queriedFields>HOU_Secondary_Credit_Limit__c</queriedFields>
        <queriedFields>LIVE_Secondary_Credit_Limit__c</queriedFields>
        <queriedFields>MPLS_Secondary_Credit_Limit__c</queriedFields>
        <queriedFields>STL_Secondary_Credit_Limit__c</queriedFields>
        <queriedFields>Total_Insurance_Amount__c</queriedFields>
        <queriedFields>Insurance_Number__c</queriedFields>
        <queriedFields>HOU_Insurance_Amount__c</queriedFields>
        <queriedFields>LIVE_Insurance_Amount__c</queriedFields>
        <queriedFields>MPLS_Insurance_Amount__c</queriedFields>
        <queriedFields>STL_Insurance_Amount__c</queriedFields>
        <queriedFields>HOU_Special_Care_Credit__c</queriedFields>
        <queriedFields>STL_Special_Care_Credit__c</queriedFields>
        <queriedFields>MPLS_Special_Care_Credit__c</queriedFields>
        <queriedFields>LIVE_Special_Care_Credit__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAcct</name>
        <label>UpdateAcct</label>
        <locationX>155</locationX>
        <locationY>443</locationY>
        <connector>
            <targetReference>Finished</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcctID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HOU_Insurance_Amount__c</field>
            <value>
                <elementReference>HOU_Insurance_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HOU_Primary_Credit_Limit__c</field>
            <value>
                <elementReference>HOU_Credit_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HOU_Secondary_Credit_Limit__c</field>
            <value>
                <elementReference>HOU_Credit_Limit_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HOU_Special_Care_Credit__c</field>
            <value>
                <elementReference>HOU_Special_Care_Credit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Number__c</field>
            <value>
                <elementReference>Insurance_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIVE_Insurance_Amount__c</field>
            <value>
                <elementReference>LIVE_Insurance_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIVE_Primary_Credit_Limit__c</field>
            <value>
                <elementReference>LIVE_Credit_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIVE_Secondary_Credit_Limit__c</field>
            <value>
                <elementReference>LIVE_Credit_Limit_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIVE_Special_Care_Credit__c</field>
            <value>
                <elementReference>LIVE_Special_Care_Credit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPLS_Insurance_Amount__c</field>
            <value>
                <elementReference>MPLS_Insurance_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPLS_Primary_Credit_Limit__c</field>
            <value>
                <elementReference>MPLS_Credit_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPLS_Secondary_Credit_Limit__c</field>
            <value>
                <elementReference>MPLS_Credit_Limit_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPLS_Special_Care_Credit__c</field>
            <value>
                <elementReference>MPLS_Special_Care_Credit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Credit_Type__c</field>
            <value>
                <elementReference>Primary_Credit_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STL_Insurance_Amount__c</field>
            <value>
                <elementReference>STL_Insurance_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STL_Primary_Credit_Limit__c</field>
            <value>
                <elementReference>STL_Credit_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STL_Secondary_Credit_Limit__c</field>
            <value>
                <elementReference>STL_Credit_Limit_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STL_Special_Care_Credit__c</field>
            <value>
                <elementReference>STL_Special_Care_Credit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Credit_Type__c</field>
            <value>
                <elementReference>Secondary_Credit_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Insurance_Amount__c</field>
            <value>
                <elementReference>Total_Insurance_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Primary_Credit_Limit__c</field>
            <value>
                <elementReference>Total_Credit_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Secondary_Credit_Limit__c</field>
            <value>
                <elementReference>Total_Credit_Limit_S</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Edit_Credit_Account_Fields</name>
        <label>Edit Credit Account Fields</label>
        <locationX>156</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TotalsMatch</targetReference>
        </connector>
        <fields>
            <name>EditAllocationFieldsDescriptions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please edit the Credit Account Limit allocation. Press &amp;quot;Next&amp;quot; once changes are made. To exit this screen without making any changes, please press the back button/arrow on your browser window.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Primary Credit Information&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Credit_Type</name>
            <choiceReferences>plCreditType</choiceReferences>
            <choiceReferences>DefaultPrimaryCreditTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultPrimaryCreditTypeChoice</defaultSelectedChoiceReference>
            <fieldText>Credit Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Total_Credit_Limit</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.Total_Primary_Credit_Limit__c</elementReference>
            </defaultValue>
            <fieldText>Total Credit Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>blank6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HOU_Credit_Limit</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.HOU_Primary_Credit_Limit__c</elementReference>
            </defaultValue>
            <fieldText>HOU Credit Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>LIVE_Credit_Limit</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.LIVE_Primary_Credit_Limit__c</elementReference>
            </defaultValue>
            <fieldText>LIVE Credit Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>MPLS_Credit_Limit</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.MPLS_Primary_Credit_Limit__c</elementReference>
            </defaultValue>
            <fieldText>MPLS Credit Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>STL_Credit_Limit</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.STL_Primary_Credit_Limit__c</elementReference>
            </defaultValue>
            <fieldText>STL Credit Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank8</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Secondary Credit Information&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Secondary_Credit_Type</name>
            <choiceReferences>plCreditType</choiceReferences>
            <choiceReferences>DefaultSecondaryCreditTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultSecondaryCreditTypeChoice</defaultSelectedChoiceReference>
            <fieldText>Credit Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Total_Credit_Limit_S</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.Total_Secondary_Credit_Limit__c</elementReference>
            </defaultValue>
            <fieldText>Total Credit Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>blank9</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HOU_Credit_Limit_S</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.HOU_Secondary_Credit_Limit__c</elementReference>
            </defaultValue>
            <fieldText>HOU Credit Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>LIVE_Credit_Limit_S</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.LIVE_Secondary_Credit_Limit__c</elementReference>
            </defaultValue>
            <fieldText>LIVE Credit Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>MPLS_Credit_Limit_S</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.MPLS_Secondary_Credit_Limit__c</elementReference>
            </defaultValue>
            <fieldText>MPLS Credit Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>STL_Credit_Limit_S</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.STL_Secondary_Credit_Limit__c</elementReference>
            </defaultValue>
            <fieldText>STL Credit Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>blank17</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank18</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Insurance</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Insurance Information&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Insurance_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objAcct.Insurance_Number__c</elementReference>
            </defaultValue>
            <fieldText>Insurance Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Total_Insurance_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.Total_Insurance_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Total Insurance Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>blank14</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HOU_Insurance_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.HOU_Insurance_Amount__c</elementReference>
            </defaultValue>
            <fieldText>HOU Insurance Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>LIVE_Insurance_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.LIVE_Insurance_Amount__c</elementReference>
            </defaultValue>
            <fieldText>LIVE Insurance Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>MPLS_Insurance_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.MPLS_Insurance_Amount__c</elementReference>
            </defaultValue>
            <fieldText>MPLS Insurance Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>STL_Insurance_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>objAcct.STL_Insurance_Amount__c</elementReference>
            </defaultValue>
            <fieldText>STL Insurance Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>blank100</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank101</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpecialCare</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Special Care &amp;amp; Credit Information&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank102</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HOU_Special_Care_Credit</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>objAcct.HOU_Special_Care_Credit__c</elementReference>
            </defaultValue>
            <fieldText>HOU Special Care &amp; Credit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LIVE_Special_Care_Credit</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>objAcct.LIVE_Special_Care_Credit__c</elementReference>
            </defaultValue>
            <fieldText>LIVE Special Care &amp; Credit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MPLS_Special_Care_Credit</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>objAcct.MPLS_Special_Care_Credit__c</elementReference>
            </defaultValue>
            <fieldText>MPLS Special Care &amp; Credit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>STL_Special_Care_Credit</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>objAcct.STL_Special_Care_Credit__c</elementReference>
            </defaultValue>
            <fieldText>STL Special Care &amp; Credit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>528</locationX>
        <locationY>416</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Edit_Credit_Account_Fields</targetReference>
        </connector>
        <fields>
            <name>Sorry</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;ERROR: &lt;/B&gt;Total Primary Credit Limit, Total Secondary Credit Limit, and Total Insurance Limit must all equal the sum of the respective regional database limits. &lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bblank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CheckurMath</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please click &amp;quot;Next&amp;quot; to return to the entry screen and double-check your math.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bbblank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PrimaryTotal</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Primary Credit Total Entry is &lt;B&gt;{!Total_Credit_Limit}&lt;/B&gt;, and the calculated total is &lt;B&gt;${!PrimaryCreditSum}&lt;/B&gt;.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bbbblank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SecondaryCreditTotal</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Secondary Credit Total Entry is &lt;B&gt;{!Total_Credit_Limit_S}&lt;/B&gt;, and the calculated total is &lt;B&gt;${!SecondaryCreditSum}&lt;/B&gt;.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bbbbblank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InsuranceTotal</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Insurance Total Entry is &lt;B&gt;{!Total_Insurance_Amount}&lt;/B&gt;, and the calculated total is &lt;B&gt;${!InsuranceSum}&lt;/B&gt;.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished!</label>
        <locationX>160</locationX>
        <locationY>593</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ChangesSaved</name>
            <fieldText>Your allocations have been made. Please click &quot;Finish&quot; to return to the Opportunity page or &quot;Previous&quot; to correct any errors.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountName</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Account Name:&lt;B&gt; {!varAccountName}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank10</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Primary Credit Limit&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreditType</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Credit Type: &lt;B&gt;{!Primary_Credit_Type}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TotalLimit</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Total Credit Limit: &lt;B&gt;{!Total_Credit_Limit}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HOULimit</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;HOU Credit Limit: &lt;B&gt;{!HOU_Credit_Limit}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LIVELimit</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;LIVE Credit Limit: &lt;B&gt;{!LIVE_Credit_Limit}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MPLSLimit</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;MPLS Credit Limit:&lt;B&gt; {!MPLS_Credit_Limit}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>STLLimit</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;STL Credit Limit: &lt;B&gt;{!STL_Credit_Limit}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank12</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Secondary Credit Limit&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreditTypeS</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Credit Type: &lt;B&gt;{!Secondary_Credit_Type}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TotalLimitS</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Total Credit Limit: &lt;B&gt;{!Total_Credit_Limit_S}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank13</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HOULimitS</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;HOU Credit Limit:&lt;B&gt; {!HOU_Credit_Limit_S}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LIVELimitS</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;LIVE Credit Limit: &lt;B&gt;{!LIVE_Credit_Limit_S}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MPLSLimitS</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;MPLS Credit Limit:&lt;B&gt; {!MPLS_Credit_Limit_S}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>STLLimitS</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;STL Credit Limit: &lt;B&gt;{!STL_Credit_Limit_S}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank15</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InsuranceInformation</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Insurance Information&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>INSURANCENUMBER</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Insurance Number: &lt;B&gt;{!Insurance_Number}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TotalInsurance</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Total Insurance Amount: &lt;B&gt;{!Total_Insurance_Amount}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank16</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HOUINSURANCE</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;HOU Insurance Amount: &lt;B&gt;{!HOU_Insurance_Amount}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LIVEINSURANCE</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;LIVE Insurance Amount: &lt;B&gt;{!LIVE_Insurance_Amount}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MPLSINSURANCE</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;MPLS Insurance Amount: &lt;B&gt;{!MPLS_Insurance_Amount}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>STLINSURANCE</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;STL: Insurance Amount: &lt;B&gt;{!STL_Insurance_Amount}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank171</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sccinfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Special Care &amp;amp; Credit Information&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>houscc</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;HOU Special Care &amp;amp; Credit: &lt;B&gt;{!HOU_Special_Care_Credit}*&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>livescc</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;LIVE Special Care &amp;amp; Credit:&lt;B&gt; {!LIVE_Special_Care_Credit}*&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mplsscc</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;MPLS Special Care &amp;amp; Credit: &lt;B&gt;{!MPLS_Special_Care_Credit}*&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>stlscc</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;STL Special Care &amp;amp; Credit: &lt;B&gt;{!STL_Special_Care_Credit}*&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank104</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>note</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;*Please note: &amp;quot;true&amp;quot; means checked and &amp;quot;false&amp;quot; means unchecked.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Account</startElementReference>
    <status>Active</status>
    <variables>
        <name>objAcct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAcctID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
